<h3>Submitted Comments</h3>

<div id="comments">
  <ul>
    <% @post.comments.each do |comment| %>
      <li><%= render comment %></li>
    <% end %>
  </ul>
</div>


<%= render "comments/new", post: post %>