<p style="color: green"><%= notice %></p>

<h1>Mikey's Fabulous Rails Blog</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <%= link_to "View this post ➡️", post %>
    <hr />
  <% end %>
</div>

<%= link_to  "New post ✍️", new_post_path %>
